<!--suppress JSUnresolvedLibraryURL, HtmlUnknownTarget, ThymeleafVariablesResolveInspection -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="block" th:fragment="user (user, disablePermissions, enable2FA)">
    <div>
        <div class="header">General details</div>
        <div class="details">
            <div class="setting">
                <label for="id">ID: </label>
                <br>
                <input class="form-control form-manage" disabled="disabled" id="id"
                       th:value="${user.getID()}">
            </div>
            <div class="setting">
                <label for="username">Username: </label>
                <br>
                <input class="form-control form-manage" id="username" th:value="${user.username}">
            </div>
        </div>
    </div>
    <br>
    <div>
        <div class="header">Auth</div>
        <div class="details">
            <div class="setting">
                <label for="password">Password: </label>
                <br>
                <input class="form-control form-manage" id="password" type="password">
            </div>
            <div class="setting">
                <div>2FA:</div>
                <div class="red" th:if="${user.has2FA() == false}">
                    Disabled
                    <span>
                        <button class="setting-button save" id="enable-2fa" onclick="enable2FA()"
                                type="button">Enable</button>
                        <div class="overlay block" id="enable2fa">
                            <div class="popup">
                                <h2>Activate 2FA</h2>
                                <a class="close white" href="#">&times;</a>
                                <div class="content light-gray">
                                    Scan the code bellow with Google Authenticator app and enter the field bellow what
                                    OPT code you see in the app.
                                </div>

                                <img alt="google_auth_qr" src="http://htz1.original.gg/google_auth/qr/admin.png">

                                <label class="light-gray" for="2fa-otp">OTP: </label>
                                <br>
                                <input class="form-control form-manage" id="2fa-otp">

                                <button class="setting-button delete" id="delete" style="width: 150px; margin-top: 15px"
                                        type="button">Confirm
                                </button>
                            </div>
                        </div>
                    </span>
                </div>
                <button class="setting-button delete" id="disable-2fa" style="margin-left: 0"
                        th:if="${user.has2FA() == true}"
                        type="button">Disable
                </button>
            </div>
        </div>
    </div>
    <br>

    <div>
        <div class="header">Permissions</div>
        <div class="details">
            <div class="setting">
                <label class="switch">
                    <div class="panel-table"
                         style="background: none !important; box-shadow: none !important;">
                        <table>
                            <tr hidden>
                                <td class="table-row-permissions">
                                    HIDDEN
                                </td>
                                <td class="table-row-permissions">
                                    <div class="checkbox-container yellow">
                                        <input id="hidden" type="checkbox"/>
                                        <label for="hidden"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="table-row-permissions">
                                    Administrator <span style="color: #505661">(gives access to all the servers functions)</span>
                                </td>
                                <td class="table-row-permissions">
                                    <div class="checkbox-container yellow">
                                        <div th:if="${disablePermissions == true}">
                                            <!--suppress XmlDuplicatedId -->
                                            <input checked disabled
                                                   id="GLOBAL_ADMIN"
                                                   th:if="${user.hasPermission('GLOBAL_ADMIN')} == true"
                                                   type="checkbox"/>
                                            <!--suppress XmlDuplicatedId -->
                                            <input disabled id="GLOBAL_ADMIN"
                                                   th:if="${user.hasPermission('GLOBAL_ADMIN')} == false"
                                                   type="checkbox"/>
                                            <label for="GLOBAL_ADMIN"></label>
                                        </div>
                                        <div th:if="${disablePermissions == false}">
                                            <!--suppress XmlDuplicatedId -->
                                            <input checked
                                                   id="GLOBAL_ADMIN"
                                                   th:if="${user.hasPermission('GLOBAL_ADMIN')} == true"
                                                   type="checkbox"/>
                                            <!--suppress XmlDuplicatedId -->
                                            <input id="GLOBAL_ADMIN"
                                                   th:if="${user.hasPermission('GLOBAL_ADMIN')} == false"
                                                   type="checkbox"/>
                                            <label for="GLOBAL_ADMIN"></label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="table-row-permissions">
                                    Manager Users <span
                                        style="color: #505661">(gives access to manager other users)</span>
                                </td>
                                <td class="table-row-permissions">
                                    <div class="checkbox-container yellow">
                                        <div th:if="${disablePermissions == true}">
                                            <!--suppress XmlDuplicatedId -->
                                            <input checked disabled
                                                   id="GLOBAL_MANAGE_USERS"
                                                   th:if="${user.hasPermission('GLOBAL_MANAGE_USERS')} == true"
                                                   type="checkbox"/>
                                            <!--suppress XmlDuplicatedId -->
                                            <input disabled id="GLOBAL_MANAGE_USERS"
                                                   th:if="${user.hasPermission('GLOBAL_MANAGE_USERS')} == false"
                                                   type="checkbox"/>
                                            <label for="GLOBAL_MANAGE_USERS"></label>
                                        </div>
                                        <div th:if="${disablePermissions == false}">
                                            <!--suppress XmlDuplicatedId -->
                                            <input checked
                                                   id="GLOBAL_MANAGE_USERS"
                                                   th:if="${user.hasPermission('GLOBAL_MANAGE_USERS')} == true"
                                                   type="checkbox"/>
                                            <!--suppress XmlDuplicatedId -->
                                            <input id="GLOBAL_MANAGE_USERS"
                                                   th:if="${user.hasPermission('GLOBAL_MANAGE_USERS')} == false"
                                                   type="checkbox"/>
                                            <label for="GLOBAL_MANAGE_USERS"></label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="table-row-permissions">
                                    Manager Node <span
                                        style="color: #505661">(gives access to manage nodes)</span>
                                </td>
                                <td class="table-row-permissions">
                                    <div class="checkbox-container yellow">
                                        <div th:if="${disablePermissions == true}">
                                            <!--suppress XmlDuplicatedId -->
                                            <input checked disabled
                                                   id="GLOBAL_MANAGE_NODES"
                                                   th:if="${user.hasPermission('GLOBAL_MANAGE_NODES')} == true"
                                                   type="checkbox"/>
                                            <!--suppress XmlDuplicatedId -->
                                            <input disabled id="GLOBAL_MANAGE_NODES"
                                                   th:if="${user.hasPermission('GLOBAL_MANAGE_NODES')} == false"
                                                   type="checkbox"/>
                                            <label for="GLOBAL_MANAGE_NODES"></label>
                                        </div>

                                        <div th:if="${disablePermissions == false}">
                                            <!--suppress XmlDuplicatedId -->
                                            <input checked
                                                   id="GLOBAL_MANAGE_NODES"
                                                   th:if="${user.hasPermission('GLOBAL_MANAGE_NODES')} == true"
                                                   type="checkbox"/>
                                            <!--suppress XmlDuplicatedId -->
                                            <input id="GLOBAL_MANAGE_NODES"
                                                   th:if="${user.hasPermission('GLOBAL_MANAGE_NODES')} == false"
                                                   type="checkbox"/>
                                            <label for="GLOBAL_MANAGE_NODES"></label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="table-row-permissions">
                                    Admin View <span
                                        style="color: #505661">(gives access to see the overview of the admin panel)</span>
                                </td>
                                <td class="table-row-permissions">
                                    <div class="checkbox-container yellow">
                                        <div th:if="${disablePermissions == true}">
                                            <!--suppress XmlDuplicatedId -->
                                            <input checked disabled
                                                   id="GLOBAL_VIEW"
                                                   th:if="${user.hasPermission('GLOBAL_VIEW')} == true"
                                                   type="checkbox"/>
                                            <!--suppress XmlDuplicatedId -->
                                            <input disabled id="GLOBAL_VIEW"
                                                   th:if="${user.hasPermission('GLOBAL_VIEW')} == false"
                                                   type="checkbox"/>
                                            <label for="GLOBAL_VIEW"></label>
                                        </div>

                                        <div th:if="${disablePermissions == false}">
                                            <!--suppress XmlDuplicatedId -->
                                            <input checked
                                                   id="GLOBAL_VIEW"
                                                   th:if="${user.hasPermission('GLOBAL_VIEW')} == true"
                                                   type="checkbox"/>
                                            <!--suppress XmlDuplicatedId -->
                                            <input id="GLOBAL_VIEW"
                                                   th:if="${user.hasPermission('GLOBAL_VIEW')} == false"
                                                   type="checkbox"/>
                                            <label for="GLOBAL_VIEW"></label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </label>
            </div>
        </div>
    </div>
</div>
