<!--suppress HtmlUnknownTarget, JSUnresolvedLibraryURL, ThymeleafVariablesResolveInspection -->
<html lang="en">
<!--suppress HtmlRequiredTitleElement -->
<head th:replace="fragments/global :: head(title='Servers')"></head>

<body>
<div id="page">
    <div class="page-content">
        <div th:replace="fragments/global :: topbar"></div>
        <div th:replace="fragments/global :: sidebar"></div>

        <!-- IP Username ssh_port sftp_port-->

        <div class="content-wrap">
            <div class="container">
                <div class="block">
                    <div class="header">General details</div>
                    <div class="details">
                        <div class="setting">
                            <label for="id">ID: </label>
                            <br>
                            <input class="form-control form-manage" disabled="disabled" id="id"
                                   th:value="${user.getID()}">
                        </div>
                        <div class="setting">
                            <label for="username">Username: </label>
                            <br>
                            <input class="form-control form-manage" id="username" th:value="${user.username}">
                        </div>
                    </div>
                </div>
                <br>
                <div class="block">
                    <div class="header">Auth</div>
                    <div class="details">
                        <div class="setting">
                            <label for="password">Password: </label>
                            <br>
                            <input class="form-control form-manage" id="password" type="password">
                        </div>
                        <div class="setting">
                            <div>2FA:</div>
                            <button class="setting-button save" id="enable" style="margin-left: 0"
                                    th:if="${user.has2FA() == false}"
                                    type="button">Enable
                            </button>
                            <button class="setting-button delete" id="disable" style="margin-left: 0"
                                    th:if="${user.has2FA() == true}"
                                    type="button">Disable
                            </button>
                        </div>
                    </div>
                </div>
                <br>
                <button class="setting-button save" id="save" type="button">Save</button>
                <button class="setting-button reset" id="reset" type="button">Reset</button>
                <button class="setting-button delete" onclick="location.href='#delete-confirmation'">Delete</button>

                <div class="overlay block" id="delete-confirmation">
                    <div class="popup">
                        <h2>Confirm Deleting</h2>
                        <a class="close white" href="#">&times;</a>
                        <div class="content">
                            This action will delete the node from the panel.
                        </div>
                        <button class="setting-button delete" id="delete" style="width: 150px; margin-top: 15px"
                                type="button">Confirm Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/global :: scripts"></div>
<script src="/js/node.js"></script>
<script>
    nodeTemplate();
</script>
</body>
</html>