<!--suppress HtmlUnknownTarget, JSUnresolvedLibraryURL, ThymeleafVariablesResolveInspection -->
<html lang="en">
<!--suppress HtmlRequiredTitleElement -->
<head th:replace="fragments/global :: head(title='Servers')"></head>

<body>
<div id="page">
    <div class="page-content">
        <div th:replace="fragments/global :: topbar"></div>
        <div th:replace="fragments/global :: sidebar"></div>

        <!-- IP Username ssh_port sftp_port-->

        <div class="content-wrap">
            <div class="container">
                <div class="block">
                    <div class="header">General details</div>
                    <div class="details">
                        <div class="setting">
                            <label for="id">ID: </label>
                            <br>
                            <input class="form-control form-manage" id="id">
                        </div>
                        <div class="setting">
                            <label for="username">Username: </label>
                            <br>
                            <input class="form-control form-manage" id="username">
                        </div>
                    </div>
                </div>
                <br>
                <div class="block">
                    <div class="header">Auth</div>
                    <div class="details">
                        <div class="setting">
                            <label for="password">Password: </label>
                            <br>
                            <input class="form-control form-manage" id="password" type="password">
                        </div>
                    </div>
                </div>
                <br>
                <button class="setting-button save" id="create" type="button">Create</button>
                <button class="setting-button reset" id="reset" type="button">Reset</button>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/global :: scripts"></div>
<script src="/js/user.js"></script>
<script>
    userTemplate();
</script>
</body>
</html>