<!--suppress HtmlUnknownTarget, JSUnresolvedLibraryURL, ThymeleafVariablesResolveInspection -->
<html lang="en">
<!--suppress HtmlRequiredTitleElement -->
<head th:replace="fragments/global :: head(title='Servers')"></head>

<body>
<div id="page">
    <div class="page-content">
        <div th:replace="fragments/global :: topbar"></div>
        <div th:replace="fragments/global :: sidebar"></div>

        <div class="content-wrap">
            <div class="container">

                <div class="header">System Information</div>
                <div class="details">
                    <div>
                        <span class="name">Version:</span>
                        <span th:text="' ' + ${version} + ' ' +  ${buildType} + ' ' + ${timestamp}"></span>
                    </div>

                    <div th:each="node : ${nodes}">
                        <span class="name" th:text="${node.node.name} + ':'"></span>
                        <span th:if="${node.buildProperties} != null"
                              th:text="' ' + ${node.buildProperties.version} + ' ' + ${node.buildProperties.buildType} + ' ' + ${node.buildProperties.timestamp}"></span>
                        <span class="red" th:if="${node.buildProperties} == null">OFFLINE</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/global :: scripts"></div>
<script src="/js/stats.js"></script>
<script>
    addStats();
</script>
</body>
</html>