<html>
<head>
    <title>Original | Servers</title>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link href="https://i.imgur.com/W6F7QEN.png" rel="icon" sizes="32x32" type="image/png"/>
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="assets/css/theme.css" rel="stylesheet">
    <link crossorigin="anonymous"
          href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/6.2.95/css/materialdesignicons.min.css"
          integrity="sha512-tYefTUoWKpCvU14EKu/b/VxnSaT3+1ZBlL0BhTPSYCiqsMTbGylad3l6HCr9i4vpsDgJIFke+LQBq3MCXko6Qw=="
          referrerpolicy="no-referrer" rel="stylesheet"/>
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
          integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
          rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,800&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,800;0,900;1,800&display=swap"
          rel="stylesheet">
</head>
<body>
<div id="page">
    <div class="page-content">
        <div class="page-top-bar">
            <div class="container">
                <div class="left">
                    <div id="logo">
                        <a href="index.php"><img src="https://i.imgur.com/5MjoUuh.png"></a>
                    </div>
                    <a class="active" href="#">Servers</a>
                    <a href="#">Billing</a>
                    <a href="#">Users</a>
                </div>
                <div class="right">
                    <a class="top-btn login" href="#">
                        Logout
                    </a>
                </div>
            </div>
        </div>
        <div class="content-wrap">
            <div class="container">
                <div class="panel-table">
                    <table>
                        <tr>
                            <td class="server">
                                <div class="server-icon"><i class="mdi mdi-server"></i></div>
                            </td>
                            <td class="server-name">
                                <a href="#">
                                    <div class="sn-l">Creative</div>
                                    <div class="sn-s">Dedicated Server</div>
                                </a>
                            </td>
                            <td class="server-type">
                                <div class="s-label">Dedicated Server</div>
                                <i class="mdi mdi-database"></i>HTZ-4:10062
                            </td>
                            <td class="processor">
                                <div class="s-label">Processor</div>
                                <i class="mdi mdi-memory"></i>94.23%
                            </td>
                            <td class="ram">
                                <div class="s-label">RAM</div>
                                <i class="mdi mdi-chip"></i>780kB
                            </td>
                            <td class="storage">
                                <div class="s-label">Storage</div>
                                <i class="mdi mdi-cloud"></i>369kB
                            </td>
                            <td class="status">
                                <div class="bar"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="server">
                                <div class="server-icon"><i class="mdi mdi-server"></i></div>
                            </td>
                            <td class="server-name">
                                <a href="#">
                                    <div class="sn-l">Creative</div>
                                    <div class="sn-s">Dedicated Server</div>
                                </a>
                            </td>
                            <td class="server-type">
                                <div class="s-label">Dedicated Server</div>
                                <i class="mdi mdi-database"></i>HTZ-4:10062
                            </td>
                            <td class="processor">
                                <div class="s-label">Processor</div>
                                <i class="mdi mdi-memory"></i>58.57%
                            </td>
                            <td class="ram">
                                <div class="s-label">RAM</div>
                                <i class="mdi mdi-chip"></i>403kB
                            </td>
                            <td class="storage">
                                <div class="s-label">Storage</div>
                                <i class="mdi mdi-cloud"></i>283kB
                            </td>
                            <td class="status">
                                <div class="bar"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="server">
                                <div class="server-icon"><i class="mdi mdi-server"></i></div>
                            </td>
                            <td class="server-name">
                                <a href="#">
                                    <div class="sn-l">Creative</div>
                                    <div class="sn-s">Dedicated Server</div>
                                </a>
                            </td>
                            <td class="server-type">
                                <div class="s-label">Dedicated Server</div>
                                <i class="mdi mdi-database"></i>HTZ-4:10062
                            </td>
                            <td class="processor">
                                <div class="s-label">Processor</div>
                                <i class="mdi mdi-memory"></i>57.78%
                            </td>
                            <td class="ram">
                                <div class="s-label">RAM</div>
                                <i class="mdi mdi-chip"></i>966kB
                            </td>
                            <td class="storage">
                                <div class="s-label">Storage</div>
                                <i class="mdi mdi-cloud"></i>447kB
                            </td>
                            <td class="status">
                                <div class="bar"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="server">
                                <div class="server-icon"><i class="mdi mdi-server"></i></div>
                            </td>
                            <td class="server-name">
                                <a href="#">
                                    <div class="sn-l">Creative</div>
                                    <div class="sn-s">Dedicated Server</div>
                                </a>
                            </td>
                            <td class="server-type">
                                <div class="s-label">Dedicated Server</div>
                                <i class="mdi mdi-database"></i>HTZ-4:10062
                            </td>
                            <td class="processor">
                                <div class="s-label">Processor</div>
                                <i class="mdi mdi-memory"></i>92.86%
                            </td>
                            <td class="ram">
                                <div class="s-label">RAM</div>
                                <i class="mdi mdi-chip"></i>531kB
                            </td>
                            <td class="storage">
                                <div class="s-label">Storage</div>
                                <i class="mdi mdi-cloud"></i>596kB
                            </td>
                            <td class="status">
                                <div class="bar"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="server">
                                <div class="server-icon"><i class="mdi mdi-server"></i></div>
                            </td>
                            <td class="server-name">
                                <a href="#">
                                    <div class="sn-l">Creative</div>
                                    <div class="sn-s">Dedicated Server</div>
                                </a>
                            </td>
                            <td class="server-type">
                                <div class="s-label">Dedicated Server</div>
                                <i class="mdi mdi-database"></i>HTZ-4:10062
                            </td>
                            <td class="processor">
                                <div class="s-label">Processor</div>
                                <i class="mdi mdi-memory"></i>7.65%
                            </td>
                            <td class="ram">
                                <div class="s-label">RAM</div>
                                <i class="mdi mdi-chip"></i>272kB
                            </td>
                            <td class="storage">
                                <div class="s-label">Storage</div>
                                <i class="mdi mdi-cloud"></i>526kB
                            </td>
                            <td class="status">
                                <div class="bar"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="server">
                                <div class="server-icon"><i class="mdi mdi-server"></i></div>
                            </td>
                            <td class="server-name">
                                <a href="#">
                                    <div class="sn-l">Creative</div>
                                    <div class="sn-s">Dedicated Server</div>
                                </a>
                            </td>
                            <td class="server-type">
                                <div class="s-label">Dedicated Server</div>
                                <i class="mdi mdi-database"></i>HTZ-4:10062
                            </td>
                            <td class="processor">
                                <div class="s-label">Processor</div>
                                <i class="mdi mdi-memory"></i>73.97%
                            </td>
                            <td class="ram">
                                <div class="s-label">RAM</div>
                                <i class="mdi mdi-chip"></i>371kB
                            </td>
                            <td class="storage">
                                <div class="s-label">Storage</div>
                                <i class="mdi mdi-cloud"></i>266kB
                            </td>
                            <td class="status">
                                <div class="bar"></div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script crossorigin="anonymous"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        referrerpolicy="no-referrer" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
</html>