<!--suppress HtmlUnknownTarget, JSUnresolvedLibraryURL -->
<html lang="en">
<!--suppress HtmlRequiredTitleElement -->
<head th:replace="fragments/global :: head(title='Servers')"></head>

<body>
<div id="page">
    <div class="page-content">
        <div th:replace="fragments/global :: topbar"></div>

        <div class="content-wrap">
            <div class="container">
                <div class="panel-table">
                    <table>
                        <tr>
                            <td class="server">
                                <div class="server-icon"><i class="mdi mdi-server"></i></div>
                            </td>
                            <td class="server-name">
                                <a href="#">
                                    <div class="sn-l">Creative</div>
                                    <div class="sn-s">Dedicated Server</div>
                                </a>
                            </td>
                            <td class="server-type">
                                <div class="s-label">Dedicated Server</div>
                                <i class="mdi mdi-database"></i>HTZ-4:10062
                            </td>
                            <td class="processor">
                                <div class="s-label">Processor</div>
                                <i class="mdi mdi-memory"></i>94.23%
                            </td>
                            <td class="ram">
                                <div class="s-label">RAM</div>
                                <i class="mdi mdi-chip"></i>780kB
                            </td>
                            <td class="storage">
                                <div class="s-label">Storage</div>
                                <i class="mdi mdi-cloud"></i>369kB
                            </td>
                            <td class="status">
                                <div class="bar"></div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/global :: scripts"></div>
</body>
</html>