<html>
<head>
    <title>Chat WebSocket</title>
    <script src="https://unpkg.com/kd-shim-sockjs-client@0.3.4/sockjs-0.3.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
    <script type="text/javascript">
        var stompClient = null;
        var size = 0;

        function setConnected(connected) {
            document.getElementById("connect").disabled = connected;
            document.getElementById("disconnect").disabled = !connected;
            document.getElementById("conversationDiv").style.visibility
                = connected ? "visible" : "hidden";
            document.getElementById("response").innerHTML = "";
        }

        function connect() {
            var server = document.getElementById("server").innerText;

            var socket = new SockJS("/server/api/server");
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function (frame) {
                setConnected(true);
                console.log("Connected: " + frame);
                stompClient.subscribe("/server/" + server + "/api/console", function (messageOutput) {
                    showMessageOutput(messageOutput.body);
                });
            });
        }

        function disconnect() {
            if (stompClient != null) {
                stompClient.disconnect();
            }
            setConnected(false);
            console.log("Disconnected");
        }

        function sendMessage() {
            var server = document.getElementById("server").innerText;

            var text = document.getElementById("text").value;
            stompClient.send("/app/server/api/server", {},
                JSON.stringify({
                    "command": text,
                    "server": server
                }));
        }

        function getIndex(string, subString, index) {
            var len = string.length;
            var i = -1;
            while (index-- && i++ < len) {
                i = string.indexOf(subString, i);
                if (i < 0) {
                    break;
                }
            }
            return i;
        }

        async function showMessageOutput(messageOutput) {
            var response = document.getElementById("response");
            response.innerHTML = response.innerHTML + messageOutput;
            var size = response.innerHTML.split("<br>").length;

            if (size > 25) {
                //Remove the first line size-25 lines
                response.innerHTML = response.innerHTML.substring(getIndex(response.innerHTML, "<br>", size - 25) + 4);
            }

            //Scroll to the bottom
            window.scrollTo(0, document.body.scrollHeight);
        }
    </script>
</head>
<body onload="disconnect()">
<!--/*@thymesVar id="server" type="java.lang.String"*/-->
<div id="server" th:text="${server}"></div>
<div>
    <div>
        <input type="text" id="from" placeholder="Choose a nickname"/>
    </div>
    <br/>
    <div>
        <button id="connect" onclick="connect();">Connect</button>
        <button id="disconnect" disabled="disabled" onclick="disconnect();">
            Disconnect
        </button>
    </div>
    <br/>
    <div id="conversationDiv">
        <input type="text" id="text" placeholder="Write a message..."/>
        <button id="sendMessage" onclick="sendMessage();">Send</button>
        <p id="response"></p>
    </div>
</div>

</body>
</html>