<html lang="en">
<head th:replace="fragments/global :: head(title='Servers')"></head>
<body>
<div id="page">
    <div class="page-content">
        <div th:replace="fragments/global :: topbar"></div>
        <div class="content-wrap details-wrap">
            <div class="container">
                <div class="sidebar">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="padding-top: 25px;"><i class="mdi mdi-server"></i>
                            <span hidden id="server-id" th:text="${server.getID()}"></span>
                            <span th:text="${server.name}"></span>
                            <span id="status"></span>
                            <span id="online-status" class="status-label" style="margin-right: -30px">
                                <span class="status-label light-gray-bg">Loading...</span>
                            </span>
                        </div>
                        <div class="panel-body">
                            <div class="panel-features">
                                <div class="pf">
                                    <i class="mdi mdi-database-outline"></i>
                                    <div class="pf-text">
                                        <div class="pf-value" id="ram-usage">Loading...</div>
                                        <div class="pf-label">Out of</div>
                                        <span id="ram-allocation">Loading...</span>
                                    </div>
                                </div>
                                <div class="pf">
                                    <i class="mdi mdi-speedometer"></i>
                                    <div class="pf-text">
                                        <div class="pf-value" id="cpu-usage">Loading...</div>
                                        <div class="pf-label">CPU Usage</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default panel-controls">
                        <button class="p-btn">Start</button>
                        <button class="p-btn">Restart</button>
                        <button class="p-btn stop">Stop</button>
                    </div>
                    <div class="panel panel-default" id="sftp">
                        SFTP
                        <div class="sf-small">Browse Files</div>
                    </div>
                </div>
                <div class="content">
                    <div id="console">
                        <div class="panel panel-default">
                            <div class="panel-heading"><i class="mdi mdi-console"></i>Console</div>
                            <iframe
                                    allowtransparency="true"
                                    id="console-iframe"
                                    th:src="@{'/server/console/' + ${server.getID()}}">
                            </iframe>
                        </div>
                        <div class="console-input">
                            <span>> </span>
                            <label for="console-input"></label>
                            <input id="console-input" type="text">
                        </div>
                    </div>
                    <div id="stats-ram">
                        <div class="panel panel-default">
                            <div class="panel-heading"><i class="mdi mdi-database-outline"></i>Memory Usage</div>
                            <div class="panel-body">
                                <div class="chart-placeholder"></div>
                            </div>
                        </div>
                    </div>
                    <div id="stats-cpu">
                        <div class="panel panel-default">
                            <div class="panel-heading"><i class="mdi mdi-speedometer"></i>CPU Usage</div>
                            <div class="panel-body">
                                <div class="chart-placeholder"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/global :: scripts"></div>
<script src="/js/console.js"></script>
<script src="/js/stats.js"></script>
<script>
    addStatsServerDetails()
</script>
</body>
</html>