<html>
<head th:replace="fragments/global :: head(title='Servers')"></head>
<body>
<div id="page">
    <div class="page-content">
        <div class="page-top-bar">
            <div class="container">
                <div class="left">
                    <div id="logo">
                        <a href="index.php"><img src="https://i.imgur.com/5MjoUuh.png"></a>
                    </div>
                    <a class="active" href="#">Servers</a>
                    <a href="#">Billing</a>
                    <a href="#">Users</a>
                </div>
                <div class="right">
                    <a class="top-btn login" href="#">
                        Logout
                    </a>
                </div>
            </div>
        </div>
        <div class="content-wrap details-wrap">
            <div class="container">
                <div class="sidebar">
                    <div class="panel panel-default">
                        <div class="panel-heading"><i class="mdi mdi-server"></i>SWRP
                            <div class="status-label online">Online</div>
                        </div>
                        <div class="panel-body">
                            <div class="panel-features">
                                <div class="pf">
                                    <i class="mdi mdi-database-outline"></i>
                                    <div class="pf-text">
                                        <div class="pf-value">0kb</div>
                                        <div class="pf-label">Out of 3000MB</div>
                                    </div>
                                </div>
                                <div class="pf">
                                    <i class="mdi mdi-speedometer"></i>
                                    <div class="pf-text">
                                        <div class="pf-value">0.00%</div>
                                        <div class="pf-label">Ram Usage</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default panel-controls">
                        <button class="p-btn">Start</button>
                        <button class="p-btn">Restart</button>
                        <button class="p-btn stop">Stop</button>
                    </div>
                    <div class="panel panel-default" id="sftp">
                        SFTP
                        <div class="sf-small">Browse Files</div>
                    </div>
                </div>
                <div class="content">
                    <div id="console">
                        <div class="panel panel-default">
                            <div class="panel-heading"><i class="mdi mdi-console"></i>Console</div>
                            <iframe
                                    id="console-iframe"
                                    th:src="@{'/server/console/' + ${server}}">
                            </iframe>
                        </div>
                        <div class="console-input">
                            <span>> </span>
                            <label for="console-input"></label>
                            <input type="text" id="console-input">
                        </div>
                    </div>
                    <div id="stats-ram">
                        <div class="panel panel-default">
                            <div class="panel-heading"><i class="mdi mdi-database-outline"></i>Memory Usage</div>
                            <div class="panel-body">
                                <div class="chart-placeholder"></div>
                            </div>
                        </div>
                    </div>
                    <div id="stats-cpu">
                        <div class="panel panel-default">
                            <div class="panel-heading"><i class="mdi mdi-speedometer"></i>CPU Usage</div>
                            <div class="panel-body">
                                <div class="chart-placeholder"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/global :: scripts"></div>
<script src="/js/console.js"></script>
</body>
</html>